.myFooter_mob{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: grey;
    color: white;
}

.myFooter_mob_heading_top{
    text-align: center;
    margin-top: 1rem;
}

.myFooter_mob_heading_bottom{
    text-align: center;
    margin: 2rem;
    font-size: 0.8rem;
    font-weight: 400;
}

.logos_inside{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* color: black; */

}

/* .myFooter{
    display: none;
    justify-content:space-around;
}

.section1{
    display: block;
    line-height: 40%;
    cursor: pointer;
    color: #696b79;
    font-size: 15px;
    padding-bottom: 5px;
    
}

.imgSec{
    width: 30%;
}

.logos{
    display: flex;
    height: 5%;
} */


/* @media screen and (max-width:500px) {
    .myFooter{
        display: none;
    }
    .myFooter_mob{
        display: flex;
    }
} */