.myNav{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background: rgb(42, 161, 52); */
    padding: 20px;
}

.home{
    z-index: -1;
}