 .myNav{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
   }

   .myNav_search{
    display: flex;
    flex: 1;
    padding: 8px;
    margin: 12px;
    align-items: center;
    width: 60%;
  }
  
  
  .myNav_searchInput{
    height: 25px;
    padding: 5px;
    border: none;
    width: 100%;
  }

  .myNav_icon{
    padding: 2px;
    height: 25px !important;
    background-color: greenyellow;
  }

  .myNav_iconBasket{
    display: flex;
    align-items: center;
    color: white;
    font-size: small;
    margin-right: 12px;
    margin-bottom: 6px;
    padding: 2px;
  }

  .myNav_home{
    margin: 6px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }

/*
.myNav_logo{
    object-fit: contain;
    width: 80px; 
    position: fixed;
    left: 0px;
  }

.myNav_ok{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
  }

.myNav_home{
    margin-top: 23px;
    margin-left: 45px;
  }

.myNav_search{
  display: flex;
  flex: 1;
  padding: 8px;
  margin: 15px;
  align-items: center;
  width: 60%;
}


.myNav_searchInput{
  height: 25px;
  padding: 8px;
  border: none;
  width: 100%;
}


.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}

.myNav_profile{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}


.myNav_cart{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
} 

.dropdown {
    object-fit: contain;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    height: 72px;
  }

  .menu {
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    top: 85px;
    right: -200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    width: 350px;
    max-height: 300px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    appearance: none;
  }

  
  .dropdown:hover > .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .para {
    margin-top: 5px;
    margin-bottom: 25px;
    color:rgb(226, 14, 155);
    font-weight: 600;
    font-family: inherit;
  }
  
  .menu > .firstChild{
    line-height: 40%;
    cursor: pointer;
    color: #696b79;
    font-size: 15px;
    padding-bottom: 5px;
  }

  .dropmenu:hover{
    font-weight: 600;
  }

   */

   