.grid{
    display: grid;
    background-color: antiquewhite;
    grid-auto-flow: column;
    align-items: start;
    justify-content: space-around;
    /* align-items: ; */
    grid-template-rows: repeat(3, auto);
    width: 100%;
    /* border: 1px solid black; */
    /* grid-template-columns: repeat(auto-fill, 100px); */
    /* grid-template-rows: 1fr; */
}

/* .card{
    display: flex;
    flex: 1;
} */


@media (max-width: 1250px) {
   .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   } 
}
/* 
@media (max-width: 450px) {
    .grid{
     display: grid;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
    } 
 } */