.productcard{
    /* border: 1px solid rgb(197, 197, 197); */
    /* background-color: rgb(197, 197, 197); */
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    }

.cardimage{
    width: 100%;
    height: 300px;
    /* object-fit: fill; */
}
.parap{
    line-height: 100%;
    text-align:left;
}

.categ{
    text-transform: uppercase;
    color: #555;
    margin-bottom: 5px;
    margin-top: 8px;
}

.title{
    font-weight: 600;
    margin-bottom: 0px;
}

.pricing{
    font-weight: 500;
    font-size: 18px;

}


.button{
    width: 95%;
    padding: 5px; 
    margin-top: 200%;
    position: absolute;
    bottom: 3px;
    background: #d9a90c;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    /* opacity: 0; */
    display: none;
    /* visibility: hidden; */
    transition: 0.2s;
    appearance: none;
}

.productcard:hover > button {
    display: block;
    /* visibility: visible; */
}