.productcard{
    /* border: 1px solid rgb(197, 197, 197); */
    /* background-color: rgb(197, 197, 197); */
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    }


.cardimage{
    width: 100%;
    height: 50vh;
    /* object-fit: fill; */
}

.parap{
    line-height: 100%;
    margin-left: 1rem;

}

.categ{
    text-transform: uppercase;
    color: #555;
    margin-bottom: 5px;
    margin-top: 8px;
    text-align:center;
}

.title{
    font-weight: 600;
    margin-bottom: 0px;
}

.price{
    display: flex;
    /* justify-content: center; */
    margin-left:1rem;
}

.pricing{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: line-through;
    color: grey;

}

.pricing_main{
    font-weight: 600;
    font-size: 25px;
    margin-right: 15px;
}


