.productcard{
    border: 1px solid rgb(197, 197, 197);
    /* text-align:justify; */
    /* display: flex; */
    /* flex-direction: column; */
    height: 500px;
    /* width: 80%; */
    /* display: grid; */
    background-color: rgb(197, 197, 197);
    /* object-fit: contain; */
    cursor: pointer;
    position: relative;
    display: grid;
    /* place-items:center; */
}

.cardimage{
    /* margin: 15px; */
    width: 211px;
    height: 350px;
    /* margin-bottom: 5px; */
    /* line-height: 10%; */
}
.parap{
    line-height: 100%;
    text-align:left;
}

.categ{
    text-transform: uppercase;
    color: #555;
    margin-bottom: 5px;
}

.title{
    font-weight: 600;
    margin-bottom: 0px;
}

/* .overlay{
    object-fit: contain;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items:center;
} */

.button{
    /* border: 1px solid olive; */
    width: 95%;
    padding: 5px; 
    margin-top: 200%;
    position: absolute;
    /* top: 25; */
    /* right: 25; */
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    /* opacity: 0; */
    display: none;
    /* visibility: hidden; */
    transition: 0.2s;
    appearance: none;
}

.productcard:hover > button {
    /* opacity: 1; */
    display: block;
    visibility: visible;
    /* border-radius: 25px; */
    /* background-color: aqua; */
}