.cardstyle{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* border: 1px solid blue; */
    /* grid-template-rows: 5fr; */
}