.cardstyle{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-gap: 30px;
    cursor: pointer;
    position: relative;
    /* margin: 0; */
    /* z-index: 1; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* border: 1px solid blue; */
    /* grid-template-rows: 5fr; */
}

.button{
    display: none;
    width: 65%;
    padding: 5px;
    background: #d9a90c;
    margin-left: 1.5rem;
    /* align-items: center; */
    border-radius: 18px;
    border: 1px solid #ebebeb;
    color: white;
    font-size: large;
    font-weight: 600;
}

.card{
    height: 60vh;
    margin-bottom: 2rem;
}
.card:hover > button{
    display: block;
}


