.banner{
    /* display: flex; */
    width: 60%;
    /* margin-right: 25px; */
    position: relative;
    /* left: 2px; */
    top: 0;
    transform: translateY(-7%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    background: linear-gradient(to right, rgb(168, 255, 5), rgb(222, 84, 84));
}

.cart_final{
    display: none;
}

.main{
    width:62%;
    background: white;
}
.sub{
    display: flex;
}
.sub1{
    margin-left: 18px;
    /* display: flex; */
    flex-direction: column;
}

.title{
    margin-bottom: 0;
}
.basket{
    display: flex;
    justify-content:space-between;
    position: relative;
    /* margin: 15px; */
}

.heading{
    margin-top:1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.price{
    margin-bottom: 8px;
}
.oldPrice{
    color: grey;
    text-decoration: line-through;
}
.list{
    display: flex;
}

.cart{
    padding: 18px;
    background: white;
    width: 35%;

}

.checkout_btn{
    width: 80%;
    background-color: rgb(233, 190, 48);
    margin: 5px;
    border-color: rgb(233, 190, 48);
}
.product_img{
    width: 20rem;
    height: 35vh;
    margin-bottom: 15px;
    /* padding: 2px; */
    margin-left: 14px;
}

.product_btn_shop{
    font-weight: 500;
    width: 160px;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 7%;  
}

.empty_cart{
    color:grey;
    display:flex;
    width: 100vw;
    align-items: center;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}
.empty_cart_button{
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 7%;

}

.product_btn_shop:hover {
    background: #ffc400;
}

.product_btn{
    font-size: 1.3rem;
    font-weight: 400;
    width: 10rem;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 12%;  
}

.product_btn:hover{
    box-shadow: 0 10px 20px -10px rgba(217, 169, 12, 0.6);
    /* transform: translateY(-5px); */
    scale:1.1;
    background: #d9a90c;
}
.product_btn_subt{
    padding: 4px;
    width:80%;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0.3rem;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 7%;  
}

.product_btn_subt:hover{
    box-shadow: 0 10px 20px -10px rgba(217, 169, 12, 0.6);
    /* transform: translateY(-5px); */
    scale:1.05;
    background: #d9a90c;
}

@media screen and (max-width: 500px) {

    .banner{
        display: none;
    }

    .cart{
        display: none;
    }

    .heading{
        margin-top:0;
        font-weight: 600;
    }

    .cart_final{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basket{
        display: block;
        width: 100vw;
    }

    .line{
        width: 100vw;
        font-weight: 800;
    }

    .title{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .price{
        margin-left: 1rem;
    }

    .product_btn_shop{
        width:30%;
        font-size: 0.6rem;
        font-weight: 600;
        position: absolute;
        right: 0;
        transform: translateY(-33%);
        z-index: 2;
        background-color: rgb(224, 170, 21);
        border: rgb(224,170,21);
        color: white;
        /* border-radius: 7%;   */
    }

    .product_btn{
        width: 10rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .sub{
        display: flex;
        flex-direction: column;
        width: 100vw;
        /* align-items: center; */
        margin-bottom: 1.5rem;
        border-bottom: 1px solid black;
    }

    .product_img{
        transform: translateX(30%);
    }

    .product_img{
        width: 140px;
        height: 170px;
    }

    .empty_cart{
        color:grey;
        display:flex;
        width: 100vw;
        align-items: center;
        height: 70vh;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
    }
    .empty_cart_button{
        padding: 0.4rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: rgb(224, 170, 21);
        border: rgb(224,170,21);
        color: white;
        border-radius: 7%;

    }
  }
