
.banner{
    /* display: flex; */
    width: 60%;
    /* margin-right: 25px; */
    position: relative;
    left: 8px;
    /* margin-bottom: 12px; */
    /* left: 15px; */
}

.wishlist{
    background: rgb(224, 218, 218);
    
    /* height: 100vh; */
    /* display: flex; */

}

.main{
    width:62%;
    background: white;
}
.sub{
    display: flex;
}
.sub1{
    margin-left: 18px;
    /* display: flex; */
    flex-direction: column;
}

.title{
    margin-bottom: 0;
}
.basket{
    display: flex;
    justify-content:space-between;
    position: relative;
    /* margin: 15px; */
}

.heading{
    margin-top:1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.price{
    margin-bottom: 25px;
}
.oldPrice{
    color: grey;
    text-decoration: line-through;
}
.list{
    display: flex;
}

.cart{
    padding: 18px;
    background: white;
    width: 35%;

}

.checkout_btn{
    width: 80%;
    background-color: rgb(233, 190, 48);
    margin: 5px;
    border-color: rgb(233, 190, 48);
}
.product_img{
    width: 40%;
    height: 35vh;
    margin-bottom: 15px;
    /* padding: 2px; */
    margin-left: 14px;
}

.product_btn_shop{
    font-weight: 500;
    width: 160px;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 7%;  
}

.product_btn_shop:hover {
    background: #ffc400;
}

.product_btn{
    font-size: 1.3rem;
    font-weight: 400;
    width: 80%;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 12%;  
}

.product_btn:hover{
    box-shadow: 0 10px 20px -10px rgba(217, 169, 12, 0.6);
    /* transform: translateY(-5px); */
    scale:1.1;
    background: #d9a90c;
}
.product_btn_subt{
    padding: 4px;
    width:80%;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0.3rem;
    background-color: rgb(224, 170, 21);
    border: rgb(224,170,21);
    color: white;
    border-radius: 7%;  
}

.product_btn_subt:hover{
    box-shadow: 0 10px 20px -10px rgba(217, 169, 12, 0.6);
    /* transform: translateY(-5px); */
    scale:1.05;
    background: #d9a90c;
}
